body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(210, 135, 39);
}
fieldset{
    background-color:rgb(5, 142, 96);
    box-shadow: 3px 3px 3px rgba(20,20,20,0.5);
}
legend{
    background-color: rgb(63, 63, 100);
    color: white;
    padding: 10px;
    border:black thin solid;
}
.form-row, .check-row{
    display: flex;
    gap: 10px; 
    margin-top: 10px;
}
.form-row label{
    width: 150px;
    text-align: right;
}
.spacer{
    width: 150px;
    text-align: right;
}
input[type = "submit"]{
    background-color:rgb(9, 79, 144) ;
    color: white;
    padding: 5px;
}
input:not([type = "submit"]){
    padding: 10px;
    font-size: 1.2em;
    
    border-radius: 5px;
    border: 0;
    border-bottom: black thin solid;
}
input:not([type = "submit"]):focus{
    background-color: blanchedalmond;
}

@media only screen and (max-width: 600px){
    .form-row, .check-row{
        flex-direction: column;
    }
    .form-row label, .spacer {
        text-align: left;
    }
}