body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 103px;
    background-color: aquamarine;
}

nav {
    width: 200px;
}
#treepic {
    width: 491px;
    border: thin solid rgb(40, 40, 90);
    float: right;
}
.end {
    clear: both;
}